version: '3.9'
services:

  mongo:
    image: mongo
    restart: always
    env_file:
      - env/.env.dev

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    env_file:
      - env/.env.dev

  scraper:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - env/.env.dev
    volumes:
      - ./:/opt/app

volumes:
  db_data:
